<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
    <div class="row my-5" layout:fragment="content">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="true">Users</a>
                <a class="nav-link" id="v-pills-countries-tab" data-toggle="pill" href="#v-pills-countries" role="tab" aria-controls="v-pills-countries" aria-selected="false">Countries</a>
                <a class="nav-link" id="v-pills-brands-tab" data-toggle="pill" href="#v-pills-brands" role="tab" aria-controls="v-pills-brands" aria-selected="false">Brands</a>
                <a class="nav-link" id="v-pills-items-tab" data-toggle="pill" href="#v-pills-items" role="tab" aria-controls="v-pills-items" aria-selected="false">Shop Items</a>
                <a class="nav-link" id="v-pills-categories-tab" data-toggle="pill" href="#v-pills-categories" role="tab" aria-controls="v-pills-categories" aria-selected="false">Categories</a>
                <a class="nav-link" id="v-pills-roles-tab" data-toggle="pill" href="#v-pills-roles" role="tab" aria-controls="v-pills-roles" aria-selected="false">Roles</a>
                <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#v-pills-payments" role="tab" aria-controls="v-pills-payments" aria-selected="false">Payments</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addUser">+ ADD NEW USER</button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">FULL NAME</th>
                            <th scope="col">ROLES</th>
                            <th scope="col">DETAILS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="u : ${users}">
                            <th scope="row" th:text="${u.id}"></th>
                            <td th:text="${u.email}"></td>
                            <td th:text="${u.fullName}"></td>
                            <td><span th:each="r : ${u.roles}" th:text="${r.role} + ' '"></span></td>
                            <td><a class="btn btn-secondary" style="color: white;" th:href="@{'/usersDetail/' + ${u.id}}" role="button">DETAILS</a></td>
<!--                            <td class="d-flex">-->
<!--                                <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editUser'+${u.id}">EDIT</button>-->
<!--                                <div class="modal fade" th:id="'editUser'+${u.id}" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--                                    <div class="modal-dialog" role="document">-->
<!--                                        <div class="modal-content">-->
<!--                                            <div class="modal-header">-->
<!--                                                <h5 class="modal-title">Edit User</h5>-->
<!--                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                    <span aria-hidden="true">&times</span>-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                            <div class="modal-body">-->
<!--                                                <form th:action="@{/editUser}" method="post">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label class="form-label">Email:</label>-->
<!--                                                        <input type="email" name="user_email" class="form-control" th:value="${u.email}">-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label class="form-label">Password:</label>-->
<!--                                                        <input type="password" name="user_password" class="form-control" th:value="${u.password}">-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label class="form-label">Full Name:</label>-->
<!--                                                        <input type="text" name="user_fullName" class="form-control" th:value="${u.fullName}">-->
<!--                                                    </div>-->
<!--                                                    <hr>-->
<!--                                                    <input type="hidden" name="user_id" th:value="${u.id}">-->
<!--                                                    <button type="submit" class="btn btn-primary btn-sm">SAVE</button>-->
<!--                                                    <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal">CANCEL</button>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <form th:action="@{/deleteUser}" method="post">-->
<!--                                    <input type="hidden" name="user_id" th:value="${u.id}">-->
<!--                                    <button type="submit" class="btn btn-danger btn-sm ml-sm-1">DELETE</button>-->
<!--                                </form>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-countries" role="tabpanel" aria-labelledby="v-pills-countries-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addCountry">+ ADD NEW COUNTRY</button>
                    <table class="table mt-5" >
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NAME</th>
                                <th scope="col">CODE</th>
                                <th scope="col">DETAILS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c : ${countries}">
                                <th scope="row" th:text="${c.id}"></th>
                                <td th:text="${c.name}"></td>
                                <td th:text="${c.code}"></td>
                                <td class="d-flex">
                                    <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editCountry'+${c.id}">EDIT</button>
                                    <div class="modal fade" th:id="'editCountry'+${c.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Country</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/editCountry}" method="post">
                                                        <div class="form-group">
                                                            <label class="form-label">County Name:</label>
                                                            <input type="text" name="country_name" class="form-control" th:value="${c.name}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label">County Code:</label>
                                                            <input type="text" name="country_code" class="form-control" th:value="${c.code}">
                                                        </div>
                                                        <hr>
                                                        <input type="hidden" name="country_id" th:value="${c.id}">
                                                        <button type="submit" class="btn btn-primary btn-sm">SAVE</button>
                                                        <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal">CANCEL</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form th:action="@{/deleteCountry}" method="post">
                                        <input type="hidden" name="country_id" th:value="${c.id}">
                                        <button type="submit" class="btn btn-danger btn-sm ml-sm-1">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-brands" role="tabpanel" aria-labelledby="v-pills-brands-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addBrand">+ ADD NEW BRAND</button>
                    <table class="table mt-5" >
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NAME</th>
                                <th scope="col">COUNTRY</th>
                                <th scope="col">DETAILS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="b : ${brands}">
                                <th scope="row" th:text="${b.id}"></th>
                                <td th:text="${b.name}"></td>
                                <td th:text="${b.country.name}"></td>
                                <td class="d-flex">
                                    <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editBrand'+${b.id}">EDIT</button>
                                    <div class="modal fade" th:id="'editBrand'+${b.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Brand</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/editBrand}" method="post">
                                                        <div class="form-group">
                                                            <label class="form-label">Name:</label>
                                                            <input type="text" name="brand_name" class="form-control" th:value="${b.name}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label">Country:</label>
                                                            <input type="text" name="brand_country" class="form-control" th:value="${b.country.name}">
                                                        </div>
                                                        <hr>
                                                        <input type="hidden" name="brand_id" th:value="${b.id}">
                                                        <button type="submit" class="btn btn-primary btn-sm">SAVE</button>
                                                        <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal">CANCEL</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form th:action="@{/deleteBrand}" method="post">
                                        <input type="hidden" name="brand_id" th:value="${b.id}">
                                        <button type="submit" class="btn btn-danger btn-sm ml-sm-1">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-items" role="tabpanel" aria-labelledby="v-pills-items-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addItem">+ ADD NEW ITEM</button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{th.name}"></th>
                            <th scope="col" th:text="#{th.price}"></th>
                            <th scope="col" th:text="#{th.date}"></th>
                            <th scope="col" th:text="#{th.brand}"></th>
                            <th scope="col" th:text="#{th.details}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="it : ${shopItems}">
                            <th scope="row" th:text="${it.id}"></th>
                            <td th:text="${it.name}"></td>
                            <td th:text="${it.price}"></td>
                            <td th:text="${#strings.substring(it.addedDate,0,10)}"></td>
                            <td th:text="${it.brand.name}"></td>
                            <td><a class="btn btn-secondary" style="color: white;" th:href="@{'/detailsItem/' + ${it.id}}" role="button">DETAILS</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="v-pills-categories" role="tabpanel" aria-labelledby="v-pills-categories-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addCategory">+ ADD NEW CATEGORY</button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NAME</th>
                            <th scope="col">LOGO URL</th>
                            <th scope="col">DETAILS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cat : ${categories}">
                            <th scope="row" th:text="${cat.id}"></th>
                            <td th:text="${cat.name}"></td>
                            <td th:text="${cat.logoURL}"></td>
                            <td class="d-flex">
                                <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editCategory'+${cat.id}">EDIT</button>
                                <div class="modal fade" th:id="'editCategory'+${cat.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Category</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/editCategory}" method="post">
                                                    <div class="form-group">
                                                        <label class="form-label">Name:</label>
                                                        <input type="text" name="category_name" class="form-control" th:value="${cat.name}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Logo URL:</label>
                                                        <input type="text" name="logo" class="form-control" th:value="${cat.logoURL}">
                                                    </div>
                                                    <hr>
                                                    <input type="hidden" name="brand_id" th:value="${cat.id}">
                                                    <button type="submit" class="btn btn-primary btn-sm">SAVE</button>
                                                    <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal">CANCEL</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/deleteCategory}" method="post">
                                    <input type="hidden" name="category_id" th:value="${cat.id}">
                                    <button type="submit" class="btn btn-danger btn-sm ml-sm-1">DELETE</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-roles" role="tabpanel" aria-labelledby="v-pills-roles-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addRole">+ ADD NEW ROLE</button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">ROLE</th>
                            <th scope="col">DETAILS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="r : ${roles}">
                            <th scope="row" th:text="${r.id}"></th>
                            <td th:text="${r.role}"></td>
                            <td class="d-flex">
                                <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editRole'+${r.id}">EDIT</button>
                                <div class="modal fade" th:id="'editRole'+${r.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Role</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/editRole}" method="post">
                                                    <div class="form-group">
                                                        <label class="form-label">Role:</label>
                                                        <input type="text" name="role" class="form-control" th:value="${r.role}">
                                                    </div>
                                                    <hr>
                                                    <input type="hidden" name="country_id" th:value="${r.id}">
                                                    <button type="submit" class="btn btn-primary btn-sm">SAVE</button>
                                                    <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal">CANCEL</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/deleteRole}" method="post">
                                    <input type="hidden" name="role_id" th:value="${r.id}">
                                    <button type="submit" class="btn btn-danger btn-sm ml-sm-1">DELETE</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab">
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{th.item}"></th>
                            <th scope="col" th:text="#{th.amount}"></th>
                            <th scope="col" th:text="#{th.date}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pay : ${payments}">
                            <th scope="row" th:text="${pay.id}"></th>
                            <td th:each="item : ${shopItems}" th:if="${pay.itemId==item.id}" th:text="${item.name}"></td>
                            <td th:text="${pay.amount}"></td>
                            <td th:text="${pay.addedDate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <form th:action="@{/addUser}" method="post">
            <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>EMAIL: </label>
                                <input type="email" required class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>PASSWORD: </label>
                                <input type="password" required class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <label>FULL NAME: </label>
                                <input type="text" class="form-control" name="fullName">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">CLOSE</button>
                            <button type="submit" class="btn btn-primary">ADD USER</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addCountry}" method="post">
            <div class="modal fade" id="addCountry" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Country</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>NAME: </label>
                                <input type="text" required class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label>CODE: </label>
                                <input type="text" required class="form-control" name="code">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">CLOSE</button>
                            <button type="submit" class="btn btn-primary">ADD COUNTRY</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addBrand}" method="post">
            <div class="modal fade" id="addBrand" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Brand</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>NAME: </label>
                                <input type="text" required class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label>COUNTRY: </label>
                                <select name="country" class="form-control">
                                    <option th:each="c : ${countries}" th:text="${c.name}" th:value="${c.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">CLOSE</button>
                            <button type="submit" class="btn btn-primary">ADD BRAND</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addItem}" method="post">
            <div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>NAME: </label>
                                <input type="text" required class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label>DESCRIPTION: </label>
                                <input type="text" required class="form-control" name="description">
                            </div>
                            <div class="form-group">
                                <label>PRICE: </label>
                                <input type="number" required class="form-control" name="price">
                            </div>
                            <div class="form-group">
                                <label>STARS: </label>
                                <select name="stars" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>SMALL PICTURE: </label>
                                <input type="text" required class="form-control" name="smallPicURL">
                            </div>
                            <div class="form-group">
                                <label>LARGE PICTURE: </label>
                                <input type="text" required class="form-control" name="largePicURL">
                            </div>
                            <div class="form-group">
                                <label>DATE: </label>
                                <input type="date" required class="form-control" name="addedDate">
                            </div>
                            <div class="form-group">
                                <label>TOP PAGE: </label>
                                <select name="inTopPage" class="form-control">
                                    <option value="true">YES</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>BRAND: </label>
                                <select name="brand" class="form-control">
                                    <option th:each="b : ${brands}" th:text="${b.name}" th:value="${b.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">CLOSE</button>
                            <button type="submit" class="btn btn-primary">ADD ITEM</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addCategory}" method="post">
            <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>NAME: </label>
                                <input type="text" required class="form-control" name="category_name">
                            </div>
                            <div class="form-group">
                                <label>LOGO URL: </label>
                                <input type="text" required class="form-control" name="logo">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">CLOSE</button>
                            <button type="submit" class="btn btn-primary">ADD CATEGORY</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</html>