<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
    <div class="row my-5" layout:fragment="content">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="true" th:text="#{admin.users}"></a>
                <a class="nav-link" id="v-pills-countries-tab" data-toggle="pill" href="#v-pills-countries" role="tab" aria-controls="v-pills-countries" aria-selected="false" th:text="#{admin.countries}"></a>
                <a class="nav-link" id="v-pills-brands-tab" data-toggle="pill" href="#v-pills-brands" role="tab" aria-controls="v-pills-brands" aria-selected="false" th:text="#{admin.brands}"></a>
                <a class="nav-link" id="v-pills-items-tab" data-toggle="pill" href="#v-pills-items" role="tab" aria-controls="v-pills-items" aria-selected="false" th:text="#{admin.shopItems}"></a>
                <a class="nav-link" id="v-pills-categories-tab" data-toggle="pill" href="#v-pills-categories" role="tab" aria-controls="v-pills-categories" aria-selected="false" th:text="#{admin.categories}"></a>
                <a class="nav-link" id="v-pills-roles-tab" data-toggle="pill" href="#v-pills-roles" role="tab" aria-controls="v-pills-roles" aria-selected="false" th:text="#{admin.roles}"></a>
                <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#v-pills-payments" role="tab" aria-controls="v-pills-payments" aria-selected="false" th:text="#{admin.payments}"></a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addUser" th:text="#{button.addNewUser}"></button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{th.email}"></th>
                            <th scope="col" th:text="#{th.fullName}"></th>
                            <th scope="col" th:text="#{th.roles}"></th>
                            <th scope="col" th:text="#{th.details}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="u : ${users}">
                            <th scope="row" th:text="${u.id}"></th>
                            <td th:text="${u.email}"></td>
                            <td th:text="${u.fullName}"></td>
                            <td><span th:each="r : ${u.roles}" th:text="${r.role} + ' '"></span></td>
                            <td><a class="btn btn-secondary" style="color: white;" th:href="@{'/usersDetail/' + ${u.id}}" role="button" th:text="#{button.details}"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-countries" role="tabpanel" aria-labelledby="v-pills-countries-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addCountry" th:text="#{button.addNewCountry}"></button>
                    <table class="table mt-5" >
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col" th:text="#{th.name}"></th>
                                <th scope="col" th:text="#{th.code}"></th>
                                <th scope="col" th:text="#{th.details}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c : ${countries}">
                                <th scope="row" th:text="${c.id}"></th>
                                <td th:text="${c.name}"></td>
                                <td th:text="${c.code}"></td>
                                <td class="d-flex">
                                    <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editCountry'+${c.id}" th:text="#{button.edit}"></button>
                                    <div class="modal fade" th:id="'editCountry'+${c.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="#{h5.editCountry}"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/editCountry}" method="post">
                                                        <div class="form-group">
                                                            <label class="form-label" th:text="#{label.countryName}"></label>
                                                            <input type="text" name="country_name" class="form-control" th:value="${c.name}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label" th:text="#{label.countryCode}"></label>
                                                            <input type="text" name="country_code" class="form-control" th:value="${c.code}">
                                                        </div>
                                                        <hr>
                                                        <input type="hidden" name="country_id" th:value="${c.id}">
                                                        <button type="submit" class="btn btn-primary btn-sm" th:text="#{button.save}"></button>
                                                        <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal" th:text="#{button.cancel}"></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form th:action="@{/deleteCountry}" method="post">
                                        <input type="hidden" name="country_id" th:value="${c.id}">
                                        <button type="submit" class="btn btn-danger btn-sm ml-sm-1" th:text="#{button.delete}"></button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-brands" role="tabpanel" aria-labelledby="v-pills-brands-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addBrand" th:text="#{button.addNewBrand}"></button>
                    <table class="table mt-5" >
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col" th:text="#{th.name}"></th>
                                <th scope="col" th:text="#{th.country}"></th>
                                <th scope="col" th:text="#{th.details}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="b : ${brands}">
                                <th scope="row" th:text="${b.id}"></th>
                                <td th:text="${b.name}"></td>
                                <td th:text="${b.country.name}"></td>
                                <td class="d-flex">
                                    <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editBrand'+${b.id}" th:text="#{button.edit}"></button>
                                    <div class="modal fade" th:id="'editBrand'+${b.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="#{h5.editBrand}"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/editBrand}" method="post">
                                                        <div class="form-group">
                                                            <label class="form-label" th:text="#{label.name}"></label>
                                                            <input type="text" name="brand_name" class="form-control" th:value="${b.name}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label" th:text="#{label.country}"></label>
                                                            <input type="text" name="brand_country" class="form-control" th:value="${b.country.name}">
                                                        </div>
                                                        <hr>
                                                        <input type="hidden" name="brand_id" th:value="${b.id}">
                                                        <button type="submit" class="btn btn-primary btn-sm" th:text="#{button.save}"></button>
                                                        <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal" th:text="#{button.delete}"></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form th:action="@{/deleteBrand}" method="post">
                                        <input type="hidden" name="brand_id" th:value="${b.id}">
                                        <button type="submit" class="btn btn-danger btn-sm ml-sm-1" th:text="#{button.cancel}"></button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-items" role="tabpanel" aria-labelledby="v-pills-items-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addItem" th:text="#{button.addNewItem}"></button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{th.name}"></th>
                            <th scope="col" th:text="#{th.price}"></th>
                            <th scope="col" th:text="#{th.date}"></th>
                            <th scope="col" th:text="#{th.brand}"></th>
                            <th scope="col" th:text="#{th.details}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="it : ${shopItems}">
                            <th scope="row" th:text="${it.id}"></th>
                            <td th:text="${it.name}"></td>
                            <td th:text="${it.price}"></td>
                            <td th:text="${#strings.substring(it.addedDate,0,10)}"></td>
                            <td th:text="${it.brand.name}"></td>
                            <td><a class="btn btn-secondary" style="color: white;" th:href="@{'/detailsItem/' + ${it.id}}" role="button" th:text="#{button.details}"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-categories" role="tabpanel" aria-labelledby="v-pills-categories-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addCategory" th:text="#{button.addNewCategory}"></button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{th.name}"></th>
                            <th scope="col" th:text="#{th.logoUrl}"></th>
                            <th scope="col" th:text="#{th.details}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cat : ${categories}">
                            <th scope="row" th:text="${cat.id}"></th>
                            <td th:text="${cat.name}"></td>
                            <td th:text="${cat.logoURL}"></td>
                            <td class="d-flex">
                                <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editCategory'+${cat.id}" th:text="#{button.edit}"></button>
                                <div class="modal fade" th:id="'editCategory'+${cat.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" th:text="#{h5.editCategory}"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/editCategory}" method="post">
                                                    <div class="form-group">
                                                        <label class="form-label" th:text="#{label.name}"></label>
                                                        <input type="text" name="category_name" class="form-control" th:value="${cat.name}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label" th:text="#{label.logoUrl}"></label>
                                                        <input type="text" name="logo" class="form-control" th:value="${cat.logoURL}">
                                                    </div>
                                                    <hr>
                                                    <input type="hidden" name="brand_id" th:value="${cat.id}">
                                                    <button type="submit" class="btn btn-primary btn-sm" th:text="#{button.save}"></button>
                                                    <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal" th:text="#{button.cancel}"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/deleteCategory}" method="post">
                                    <input type="hidden" name="category_id" th:value="${cat.id}">
                                    <button type="submit" class="btn btn-danger btn-sm ml-sm-1" th:text="#{button.delete}"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-roles" role="tabpanel" aria-labelledby="v-pills-roles-tab">
                    <button type="button" class="btn btn-success ml-auto" style="color: white;" data-toggle="modal" data-target="#addRole" th:text="#{button.addNewRole}"></button>
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{th.role}"></th>
                            <th scope="col" th:text="#{th.details}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="r : ${roles}">
                            <th scope="row" th:text="${r.id}"></th>
                            <td th:text="${r.role}"></td>
                            <td class="d-flex">
                                <button type="button" class="btn btn-secondary btn-sm mb-auto" data-toggle="modal" th:data-target="'#editRole'+${r.id}" th:text="#{button.edit}"></button>
                                <div class="modal fade" th:id="'editRole'+${r.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" th:text="#{h5.editRole}"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/editRole}" method="post">
                                                    <div class="form-group">
                                                        <label class="form-label" th:text="#{label.role}"></label>
                                                        <input type="text" name="role" class="form-control" th:value="${r.role}">
                                                    </div>
                                                    <hr>
                                                    <input type="hidden" name="country_id" th:value="${r.id}">
                                                    <button type="submit" class="btn btn-primary btn-sm" th:text="#{button.save}"></button>
                                                    <button type="button" class="btn btn-secondary ml-sm-1 btn-sm" data-dismiss="modal" th:text="#{button.cancel}"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/deleteRole}" method="post">
                                    <input type="hidden" name="role_id" th:value="${r.id}">
                                    <button type="submit" class="btn btn-danger btn-sm ml-sm-1" th:text="#{button.delete}"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab">
                    <table class="table mt-5" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{th.item}"></th>
                            <th scope="col" th:text="#{th.amount}"></th>
                            <th scope="col" th:text="#{th.date}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pay : ${payments}">
                            <th scope="row" th:text="${pay.id}"></th>
                            <td th:each="item : ${shopItems}" th:if="${pay.itemId==item.id}" th:text="${item.name}"></td>
                            <td th:text="${pay.amount}"></td>
                            <td th:text="${pay.addedDate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <form th:action="@{/addUser}" method="post">
            <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{h5.addUser}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label th:text="#{label.email}"></label>
                                <input type="email" required class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.password}"></label>
                                <input type="password" required class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.fullName}"></label>
                                <input type="text" class="form-control" name="fullName">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" th:text="#{button.close}"></button>
                            <button type="submit" class="btn btn-primary" th:text="#{button.addUser}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addCountry}" method="post">
            <div class="modal fade" id="addCountry" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{h5.addCountry}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label th:text="#{label.name}"></label>
                                <input type="text" required class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.code}"></label>
                                <input type="text" required class="form-control" name="code">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" th:text="#{button.close}"></button>
                            <button type="submit" class="btn btn-primary" th:text="#{button.addCountry}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addBrand}" method="post">
            <div class="modal fade" id="addBrand" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{h5.addBrand}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label th:text="#{label.name}"></label>
                                <input type="text" required class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.country}"></label>
                                <select name="country" class="form-control">
                                    <option th:each="c : ${countries}" th:text="${c.name}" th:value="${c.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" th:text="#{button.close}"></button>
                            <button type="submit" class="btn btn-primary" th:text="#{button.addBrand}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addItem}" method="post">
            <div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{h5.addItem}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label th:text="#{label.name}"></label>
                                <input type="text" required class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.description}"></label>
                                <input type="text" required class="form-control" name="description">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.price}"></label>
                                <input type="number" required class="form-control" name="price">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.stars}"></label>
                                <select name="stars" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.smPicture}"></label>
                                <input type="text" required class="form-control" name="smallPicURL">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.lgPicture}"></label>
                                <input type="text" required class="form-control" name="largePicURL">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.date}"></label>
                                <input type="date" required class="form-control" name="addedDate">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.topPage}"></label>
                                <select name="inTopPage" class="form-control">
                                    <option value="true">YES</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.brand}"></label>
                                <select name="brand" class="form-control">
                                    <option th:each="b : ${brands}" th:text="${b.name}" th:value="${b.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" th:text="#{button.close}"></button>
                            <button type="submit" class="btn btn-primary" th:text="#{button.addItem}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form th:action="@{/addCategory}" method="post">
            <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{h5.addCategory}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label th:text="#{label.name}"></label>
                                <input type="text" required class="form-control" name="category_name">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.logoUrl}"></label>
                                <input type="text" required class="form-control" name="logo">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" th:text="#{button.close}"></button>
                            <button type="submit" class="btn btn-primary" th:text="#{button.addCategory}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</html>